<h1>Authors</h1>

<section class="box author-summary">
{{#each authors}}
<ul>
    <li> Name: {{this.name}}</li>
    <li> Favourite food: {{this.favouriteFood}} <br></li>
    <li> Country: {{this.country}} <br></li>
</ul>
{{/each}}
</section>